/* Changes for Mobile:
- Collapse sidebar using javascript
- Main div spans full width
*/
#header {
	margin-bottom: 0px;
}
#header h1 {
    margin-top: 10px;
}

#headerTitle figure img {
    width: 130px;
}

